/* style.css */

.side-nav {
    position: fixed;
    top: 0;
    left: -260px; 
    width: 260px;
    height: 100%;
    background-color: #405189;
    color: #F2F2F2;
    transition: all 0.3s;
    z-index: 1000; 
  }
  
  .side-nav.visible {
    left: 0;
  }
  
  .side-nav a {
    color: #c4c9e1;
    font-size: 18px;
  }
  
  .side-nav a:hover {
    color: #fff;
  }
  
  .side-nav-btn {
    min-height: 100% !important;
    background-color: #ff3b30 !important;
    border: #ff3b30 !important;
  }
  
  .side-nav-btn:hover {
    background-color: #cc2e26 !important;
  }
  
  .toggle-button {
    /* position: fixed; */
    top: 20px;
    right: 20px;
    background-color: #ff3b30;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1001; 
  }
  
  .toggle-button:hover {
    background-color: #cc2e26;
  }
  
  .layout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999; 
    transition: all 0.3s ;
  }
  
  .layout-overlay.visible {
    display: block;
  }
  
  @media (min-width: 700px) {
    .toggle-button {
      display: none; 
    }
  
    .side-nav {
      left: 0; 
      height: 100vh;
      position: relative;
    }
  
    .layout-overlay {
      display: none; 
    }
  }
  